.navbarstyle{
  background-color:black;
  padding:1%;
  display:flex;
  justify-content:space-around;
}
.navbarstyle a{
  text-decoration:none;
  color:white;
  padding:1%;
}
.navbarstyle a:hover{
  background-color:grey;
  color:black;
}
.notfoundpage{
  font-size:40px;
  font-weight:bold;
  font-family:arial;
  margin-top:17%;
  margin-left:39%;
}
.cart{
  font-size:40px;
  font-weight:bold;
  font-family:arial;
  margin-top:17%;
  margin-left:38%;
}
.imghome{
  margin-left:10%;
}
.para{
  margin-left:20px;
}
.fields{
  margin-left:10px;
}
.pfields{
  margin-left:20px;
}